<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserire Codice Di Verifica</title>
    <link rel="stylesheet" href="/styles/admin/otp.css">
</head>
<body>
    <h1>Inserisci il codice OTP che ti abbiamo inviato via Email</h1>
    <form action="/admin/verificaOTP" method="POST">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="number" id="digit1" name="digit1" min="0" max="9" maxlength="1" required autofocus>
        <input type="number" id="digit2" name="digit2" min="0" max="9" maxlength="1" required>
        <input type="number" id="digit3" name="digit3" min="0" max="9" maxlength="1" required>
        <input type="number" id="digit4" name="digit4" min="0" max="9" maxlength="1" required>
        <input type="number" id="digit5" name="digit5" min="0" max="9" maxlength="1" required>
        <input type="number" id="digit6" name="digit6" min="0" max="9" maxlength="1" required>
        <button id="submitBtn" type="submit">Verifica Codice OTP</button>
    </form>

    <script>
        document.querySelectorAll('input[type="number"]').forEach(function(input, index, inputs) {
            input.addEventListener('input', function() {
                if (this.value.length > 0 && index < inputs.length - 1) {
                    inputs[index + 1].focus();
                }
            });
        });

        const submitBtn = document.getElementById('submitBtn');
        submitBtn.addEventListener('click', () => {
            setTimeout(()=> {
                submitBtn.disabled = true;
            }, 5);
        });
    </script>

</body>
</html>