<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Amministratore</title>
    <style>
        h1{
            position: absolute;
            top: 25px;
            left: 25px;
            color: #fff;
            text-transform: capitalize;
        }
        body {
            font-family: Arial, sans-serif;
            background: #71a1cb;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
            color: #444;
            text-transform: capitalize;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: border-color 0.3s;
        }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus {
            border-color: #4075b2;
            outline: none;
        }

        button[type="submit"] {
            width: 100%;
            padding: 12px;
            background: #1a6dcb;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        button[type="submit"]:hover {
            background: #0056b3;
        }

        .signup-link {
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: color 0.3s;
        }

        .signup-link:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Registrazione Admin</h1>
    <form action="/admin/signup" method="POST">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required>

        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" name="cognome" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button id="submitBtn" type="submit">Registrati</button>
        <p>Hai già un'account? <a href="/admin/login">Accedi</a></p>
    </form>

    <script>
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.addEventListener('click', () => {
            setTimeout(()=> {
                submitBtn.disabled = true;
            }, 5);
        });
    </script>
</body>
</html>
