<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/styles/img/image.png" type="image/x-icon">
    <title>Admin - Attendi approvazione</title>
    <link rel="stylesheet" href="/styles/admin/auth/waitingApprovation.css">
</head>
<body>
    <header>
        <img src="https://autoscuolacentrale.com/templates/autoscuola/images/logo_autoscuola.svg" alt="" width="500px">
    </header>
    <div>
        <h1>Gentile <%= nome + ' ' + cognome %>,</h1>
        <p>La tua richiesta di registrazione è stata inviata alla tua autoscuola. Riceverai un'email di conferma quando verrai approvato.</p>
    </div>
</body>
</html>