<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento effetuato con successo</title>
    <link rel="stylesheet" href="/styles/paymentStatus.css">
    <style>h1{text-transform: capitalize;}</style>
    <script>
        setTimeout(function() {
            window.history.back();
        }, 30000);
        const goBack = () => {
            window.history.back();
        };
    </script>
</head>
<body>
    <header>
        <img src="https://autoscuolacentrale.com/templates/autoscuola/images/logo_autoscuola.svg" alt="" width="500px">
    </header>
    <section>
        <h1><%= error %></h1>
        <a onclick="goBack()"><button>Torna indietro</button></a>
    </section>
</body>
</html>