<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iscrizione Scuola Guida</title>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="/scripts/places.js"></script>

</head>
<body>
    <header>
        <a href="https://autoscuolacentrale.com/"><img src="https://autoscuolacentrale.com/templates/autoscuola/images/logo_autoscuola.svg" alt="" width="500px"></a>
    </header>
    <gmpx-api-loader key="AIzaSyA4iu52UT4JEx3Reh5fk0VI6WCafwqZwtM" solution-channel="GMP_QB_addressselection_v3_cA">
    </gmpx-api-loader>
    <div class="container">
        <form id="subscriptionForm" action="/payment" method="POST">
            <h1>Inserisci i tuoi dati per poterti registrare</h1>
            <div class="field">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required>
            </div>
            <div class="field">
                <label for="cognome">Cognome:</label>
                <input type="text" name="cognome" id="cognome" required>
            </div>
            <div class="field">
                <h3>Luogo di nascita:</h3>
            </div>
            <div class="innerContainer">
                <div class="field">
                    <label for="luogoNascita">Comune:</label>
                    <input type="text" name="luogoNascita" id="location-input" class="autocomplete" required>
                </div>
            </div>
            <div class="field">
                <h3>Data di nascita:</h3>
            </div>
            <div class="field innerContainer">
                <div class="field">
                    <label for="giorno">Giorno: </label>
                    <input type="number" name="giorno" id="giorno" length="2" min="1" max="31" required>
                </div>
                <div class="field">
                    <label for="mese">Mese: </label>
                    <select name="mese" id="mese" required>
                        <option value="01">Gennaio</option>
                        <option value="02">Febbraio</option>
                        <option value="03">Marzo</option>
                        <option value="04">Aprile</option>
                        <option value="05">Maggio</option>
                        <option value="06">Giugno</option>
                        <option value="07">Luglio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Settembre</option>
                        <option value="10">Ottobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Dicembre</option>
                    </select>
                </div>
                <div class="field">
                    <label for="anno">Anno: </label>
                    <input type="number" name="anno" id="anno" required>
                </div>
            </div>
            <div class="field">
                <label for="sesso">Sesso:</label>
                <select name="sesso" id="sesso" required>
                    <option value="M">Maschio</option>
                    <option value="F">Femmina</option>
                </select>
            </div>
            <div class="field">
                <label for="cFiscale">Codice Fiscale:</label>
                <input type="text" name="cFiscale" id="cFiscale" required>
            </div>
            <div class="field">
                <h3>Residenza:</h3>
            </div>
            <div class="innerContainer">
                <div class="field">
                    <label for="residenza">Indirizzo di Residenza:</label>
                    <input type="text" name="residenza" id="locality-input" class="autocomplete" required>
                </div>
            </div>
            <div class="field">
                <h3>Contatti:</h3>
            </div>
            <div class="innerContainer">
                <div class="field">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="field">
                    <label for="tel">Telefono:</label>
                    <input type="tel" name="tel" id="tel" required>
                </div>
            </div>
            <div class="field">
                <label for="documento">Documento:</label>
                <select name="documento" id="documento" required>
                    <option value="passaporto">Passaporto</option>
                    <option value="cartaId">Carta D'Identità</option>
                </select>
            </div>
            <div class="field">
                <label for="nDocumento">Numero Documento:</label>
                <input type="text" name="nDocumento" id="nDocumento" required>
            </div>
            <div class="field">
                <label for="tipoPatente">Patente Richiesta:</label>
                <select name="tipoPatente" id="tipoPatente" required>
                    <option value="AM">AM</option>
                    <option value="A1">A1</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="estensione A1B">estensione A1B</option>
                </select>
            </div>
            <div class="field">
                <p>
                    Autorizzo il trattamento dei miei dati personali
                    ai sensi del Decreto Legislativo 30 giugno 2003,
                    n. 196 “Codice in materia di protezione dei dati personali” e del GDPR recante
                    il Regolamento UE 2016/679
                </p>
                <input type="checkbox" name="policy" id="policy" required>
            </div>
            <div class="field">
                <input type="hidden" name="paymentMethod" id="paymentMethod" value="">
                <button type="submit" id="payPal"><i class="fa fa-paypal"></i> Paga con PayPal</button>
                <!-- <button type="submit" id="stripe"><i class="fa fa-cc-stripe"></i> Paga con Carta </button> -->
                <!-- <button id="codeBtn">Paga con Codice</button> -->
            </div>
            <div class="field" id="codeContainer" style="display: none;">
                <input type="text" name="code" id="code">
                <button type="submit" id="codeSubmitBtn">Conferma</button>
            </div>
        </form>
    </div>
    <script defer src="/scripts/subscriptionForm.js"></script>
</body>
</html>