main{
    margin-top: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#fatturaForm {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

h1 {
    text-align: center;
    color: #fff;
}

#fatturaForm {
    width: 75%;
}

#fatturaForm fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#fatturaForm legend {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    color: #333;
}

#fatturaForm label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    color: #333;
}

#fatturaForm input[type="text"],
#fatturaForm input[type="email"],
#fatturaForm input[type="number"],
#fatturaForm input[type="date"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: #c4c4c4;
    font-size: 1.2rem;
    background-color: #71a1cb;
    border-radius: 5px;
    box-sizing: border-box;
    caret-color: #333;
}
#fatturaForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #4075b2;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fatturaForm input[type="submit"]:hover {
    background: #1a6dcb;
}