main{
    margin-top: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.clienti {
    z-index: 654;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #5681a9;
    color: #f1f1f1;
    padding: 20px;
    transition: 0.5s;
}
.clienti[open] {
    max-width: 400px;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.clienti:not([open]) {
    padding: 50px;
    background: #0000;
}
.clienti > *:not(summary){
    opacity: 0;
    transition: .5s;
}
.clienti[open] > *:not(summary){
    opacity: 1;
    transition: .5s;
}
.clienti summary{
    list-style: none;
    cursor: pointer;
    user-select: none;
}
.clienti summary span{
    font-size: 3.5rem;
    transition: .5s;
}
.clienti[open] summary span{
    transform: rotateY(50deg);
    color: #ffffff68;
}
.clienti[open] > summary {
    margin-left: 78%;
}

.clienti > summary {
    list-style: none;
    cursor: pointer;
    user-select: none;
}
.clienti  h3{
    color: #ffffff9e;
}
.clienti  h3 ~ *{
    padding-left: 15px;
}
.clienti > details > *:not(summary) {
    margin-left: 50px;
}
.clienti > details{
    transition: .15s;
    border: 2px solid #0000;
    transition: .5s;
}
.clienti > details > summary{
    font-size: 1.3rem;
}
.clienti > details[open]{
    border-block: 2px solid #fff;
}
.clienti > details > summary{
    transition: margin 150ms ease-out;
}
.clienti > details[open] summary {
    margin-bottom: 10px;
}

#fatturaForm {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

h1 {
    text-align: center;
    color: #fff;
}

#fatturaForm {
    width: 75%;
}

#fatturaForm fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#fatturaForm legend {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    color: #333;
}

#fatturaForm label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    color: #333;
}

#fatturaForm input[type="text"],
#fatturaForm input[type="email"],
#fatturaForm input[type="number"],
#fatturaForm input[type="date"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: #c4c4c4;
    font-size: 1.2rem;
    background-color: #71a1cb;
    border-radius: 5px;
    box-sizing: border-box;
    caret-color: #333;
}
#fatturaForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #4075b2;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#fatturaForm input[type="submit"]:hover {
    background: #1a6dcb;
}