main{
    margin-top: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-inline: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.card-text {
    margin-bottom: 5px;
    font-size: 16px;
}

.btn-primary {
    background: #4075b2;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
}

.btn-primary:hover {
    background: #1a6dcb;
}