@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

table {
    margin-top: 150px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

th {
    position: sticky;
    top: 150px;
    color: #fff;
    background: #5681a9;
    text-transform: uppercase;
    z-index: 2;
}

tr {
    background-color: #fff;
    color: #333;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: 0.35s;
}

tbody tr:hover {
    background-color: #ede7e7;
    color: #71a1cb;
}

tbody tr:hover a {
    color: red;
}

a {
    text-decoration: none;
    color: #000;
}

.cellContent {
    display: flex;
}

.numero {
    margin-left: 5px;
}

.fatturaDaEmettere {
    color: orange;
}

.pagamenti {
    color: rgb(18, 161, 209);
}

.archiviato {
    display: none;
}

.theadBtn, .action{
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    display: none;
    outline: none;
    border: none;
    background: #0000;
}
.elimina{
    color: red;
}
.archivia{
    color: orange;
}
#selectUsers {
    cursor: pointer;
    user-select: none;
}
td input[type="checkbox"]:disabled:checked{
    appearance: none;
    z-index: 0;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: not-allowed;
    background-color: #4caf50; /* Colore della spunta */
    border-color: #4caf50;
}
td input[type="checkbox"]:disabled:checked::after {
    content: "✓";
    z-index: 0;
    color: white;
    font-size: 10px;
    position: absolute;
    top: -1px;
    left: 2px;
  }
@media (max-height: 870px) {
    table {
        margin-top: 75px;
    }
    th {
        top: 75px;
    }
}