*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background: #71a1cb;
    height: 100dvh;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
}
header img{
    max-width: 350px;
    width: 100%;
    mix-blend-mode: multiply;
    opacity: 0.8;
}
section{
    margin-top: 150px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    color: #f1f1f1;
    font-size: clamp(1rem, 4vw, 2rem);
}
button{
    margin-top: 30px;
    padding: 15px;
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: #f1f1f1;
    background: #5681a9;
    border: none; 
    border-radius: 2px;
    cursor: pointer;
    transition: .75s;
}
button:hover{
    color: #71a1cb;
    background: #f1f1f1;
    transform: scale(1.2);
}


.imageForms{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.imageForm{
    max-width: 300px;
    width: 100%;
    background: #fff;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #333;
    margin-block: 15px;
}

.imageForm button, .imageForm label{
    width: fit-content;
    background-color: #71a1cb;
    color: #fff;
    padding: 12px 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-size: 1rem;
}
.imageForm button:hover, .imageForm label:hover {
    background-color: #5681a9;
}
.imageForm input{
    display: none;
}
.field{
    margin-block: 25px;
}

h2, p{
    width: 50%;
    color: #fff;
    text-align: center;
    line-height: 25px;
}
.crop{
    margin-block: 25px;
    display: none;
}