<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emetti Fattura</title>
    <style>
        main{
            margin-top: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-inline: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
    
        .card-body {
            padding: 20px;
        }
    
        .card-title {
            margin-bottom: 10px;
            font-size: 18px;
        }
    
        .card-text {
            margin-bottom: 5px;
            font-size: 16px;
        }
    
        .btn-primary {
            background: #4075b2;
            color: #fff;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 5px;
            display: inline-block;
        }
    
        .btn-primary:hover {
            background: #1a6dcb;
        }
    </style>
</head>
<body>
    <main>
        <% let i = 1; %>
        <% for (const fattura of dati.fatture) { %>
            <% if (!fattura.emessa) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fattura <%= i++ %></h5>
                        <p class="card-text">Data: <%= fattura.data %></p>
                        <p class="card-text">Importo: <%= fattura.importo %>€</p>
                        <% let dataEncoded = encodeURIComponent(fattura.data); %>
                        <% let link = `/admin/emettiFattura?cf=${encodeURIComponent(cf)}&data=${dataEncoded}&importo=${encodeURIComponent(fattura.importo)}` %>
                        <a href="<%= link %>" class="btn btn-primary">Emetti Fattura</a>
                    </div>
                </div>
                <br>
            <% } %>
        <% } %>
    <% for (let i = 0; i < dati.length; i++) { %>
        
    <% } %>
    </main>
</body>
</html>