span{
    user-select: none;
}



#filterRinnovi{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    background: #5681a9;
    transition: .75s;
}
#closeFilterBtn{
    position: absolute;
    right: 0;
    top: 0;
    padding: 25px;
    color: #eee;
    font-size: 2.5rem;
    cursor: pointer;
}
#filterRinnovi .field{
    display: flex;
    gap: 10px;
    color: #eee;
    display: flex;
    align-items: center;
}
#filterRinnovi .field label{
    color: #eee;
}
#filterRinnovi .field label{
    color: #eee;
}
#filterRinnovi .field input{
    border: none;
    outline: none;
    padding: 10px;
}
#filterRinnovi .field:has(input[type="date"]){
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}








#rinnoviMenu{
    z-index: 2;
    position: fixed;
    top: 50px;
    right: 25px;
    cursor: pointer;
}
#rinnoviMenu summary{
    list-style: none;
}
#rinnoviMenu span{
    font-size: 3rem;
    color: #f1f1f1;
}
#rinnoviMenu ul{
    position: absolute;
    right: 100%;
    top: 50%;
    background: #eee;
    list-style: none;
    border-radius: 10px;
}
#rinnoviMenu ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #71a1cb;
    transition: .5s;
    padding: 10px;
    
}
#rinnoviMenu ul li:first-child{
    border-radius: 8px 8px 0 0;
}
#rinnoviMenu ul li:last-child{
    border-radius: 0 0 8px 8px;
}
#rinnoviMenu ul li:first-child:after{
    content: 'Filtri';
}
#rinnoviMenu ul li:last-child:after{
    content: 'Cerca';
}
#rinnoviMenu ul span{
    color: #71a1cb;
    transition: .5s;
}
#rinnoviMenu ul li:hover{
    background: #71a1cb;
    color: #eee;
}
#rinnoviMenu ul li:hover span{
    color: #eee;
}
#blurredBg{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    opacity: 0;
    transition: opacity .5s;
}
#searchDataContainer{
    pointer-events: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s;
}

#searchDataForm{
    pointer-events: all;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    background: #5681a9;
    border-radius: 10px;
    padding: 35px;
}
#searchDataForm .field:has(:not(#closeSearchFormBtn)){
    width: 100%;
    margin-block: 50px;
}
#searchDataForm .field:has(:not(#closeSearchFormBtn, h3, button)){
    display: flex;
    flex-direction: column;
    height: 30px;
}
#searchDataForm .field:has(#closeSearchFormBtn){
    cursor: pointer;
    display: flex;
    justify-content: end;
    color: #f1f1f1;
}
#searchDataForm .field h3{
    text-align: center;
    font-size: 1.4rem;
    color: #f1f1f1;
}
#searchDataForm .field label{
    user-select: none;
    cursor: text;
    font-size: 1.2rem;
    margin-bottom: -1.9rem;
    margin-left: 10px;
    z-index: 3;
    transition: .5s;
}
#searchDataForm .field input{
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
}
#searchDataForm .field:has(input:focus, input:not(:placeholder-shown)) label {
    margin-bottom: 0;
    color: #f1f1f1;
}

#searchDataForm .field:has(button){
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchDataForm .field button{
    margin-top: 25px;
    cursor: pointer;
    background: #0000;
    border: none;
    outline: none;
}
#searchDataForm .field button span{
    color: #5681a9;
    font-size: 2.5rem;
    background: #f1f1f1;
    border-radius: 50%;
    padding: 20px;
    border: none;
    outline: none;
    transition: .5s;
}
#searchDataForm .field:has(button:hover) span{
    scale: 1.4;
    color: green;
}


#actionUsersForm{
    /* display: block; */
    width: 100%;
    overflow-x: auto;
}
