main{
    margin-top: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
table{
    margin-top: 75px;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 600px;
    width: 100%;
}
td, th{
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    background: #f1f1f1;
}
th{
    background: #588dbc;
    color: #f1f1f1;
    text-transform: uppercase;
}
tr th:first-child{
    border-radius:5px 0  0 0 ;
}
tr th:last-child{
    border-radius: 0 5px 0 0 ;
}
tr:last-child td:last-child{
    border-radius: 0 0 5px 0;
}
tr:last-child td:first-child{
    border-radius: 0 0 0 5px;
}
tr:last-child td{
    border: none;
}