<link rel="stylesheet" href="\styles\admin\components\clientiFatture.css">
<script src="/scripts/admin/components/clientiFatture.js"></script>
<section>
    <details class="clienti">
        <summary>
            <span class="material-symbols-outlined">
                group
            </span>
        </summary>
        <div class="cliente" id="nuovoCliente">
            <label for="clienteNuovo">Nuovo Cliente</label>
            <input type="radio" class="clientRadioBtn" data-dati="" name="cliente" id="clienteNuovo" checked>
        </div>
        <% clienti.forEach((cliente, index) => { %>
            <div class="cliente">
                <label for="cliente<%= index %>"><%= cliente.cognome + ' ' + cliente.nome %></label>
                <input type="radio" class="clientRadioBtn" data-dati="<%= JSON.stringify(cliente) %>" name="cliente" id="cliente<%= index %>">
            </div>
        <% }); %>
    </details>
</section>