<link rel="stylesheet" href="/styles/admin/components/codesGenerator.css">
<script src="/scripts/admin/components/codesGenerator.js"></script>
<form id="codesForm">
    <span id="closeCodeFormBtn" class="material-symbols-outlined">
        close
    </span>
    <h2>Generatore di codici</h2>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" autocomplete="false">
    <label for="cf">Codice Fiscale:</label>
    <input type="text" name="cf" id="cf">
    <label for="patente">Patente:</label>
    <select name="patente" id="patente">
        <option value="AM">AM</option>
        <option value="A1">A1</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="estensioneA1B">estensione A1B</option>
    </select>
    <label for="iscrizione">Iscrizione:</label>
    <select name="iscrizione" id="iscrizione">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <button class="genCodeSubmit" type="submit">
        <span class="material-symbols-outlined">
            vpn_key
        </span>
        Genera Codice
    </button>
</form>