<link rel="stylesheet" href="/styles/admin/components/filters.css">
<script src="/scripts/admin/components/usersFilters.js"></script>
<div class="filterBox">
    <details id="filterMenu">
        <summary>
            <span class="material-symbols-outlined openFilters">
            filter_alt
            </span>
            <span class="material-symbols-outlined closeFilters">
                filter_alt_off
            </span>
        </summary>

        <div class="filters">
            <div class="filterField">
                <input type="text" name="filterNome" id="filterNome" placeholder="Nome">
                <input type="text" id="filterCognome" placeholder="Cognome">
            </div>
            <div class="filterField">
                <label for="filterPatente">Patente</label>
                <select id="filterPatente" name="filterPatente">
                    <option value="all">Tutte</option>
                    <option value="AM">AM</option>
                    <option value="A1">A1</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="estensioneA1B">estensione A1B</option>
                </select>
            </div>
            <div class="filterField">
                <div class="checkboxField">
                    <label for="archiviato">archiviati</label>
                    <input type="checkbox" id="archiviato">
                </div>
            </div>
            <div class="filterField">
                <h3>Registrazione</h3>
                <label for="filterRegistrazioneFrom">Da</label>
                <input type="date" id="filterRegistrazioneFrom" name="filterRegistrazioneFrom">
                <label for="filterRegistrazioneTo">A</label>
                <input type="date" id="filterRegistrazioneTo" name="filterRegistrazioneTo">
            </div>
            <div class="filterField">
                <h3>Visita Medica</h3>
                <label for="filterVisitaFrom">Da</label>
                <input type="date" id="filterVisitaFrom" name="filterVisitaFrom">
                <label for="filterVisitaTo">A</label>
                <input type="date" id="filterVisitaTo" name="filterVisitaTo">
                <div class="checkboxField">
                    <label for="filterVisitaMancante">visita Mancante</label>
                    <input type="checkbox" id="filterVisitaMancante" name="filterVisitaMancante">
                </div>
            </div>
            <div class="filterField">
                <h3>Esame Teoria</h3>
                <label for="filterEsameFrom">Da</label>
                <input type="date" id="filterEsameFrom" name="filterEsameFrom">
                <label for="filterEsameTo">A</label>
                <input type="date" id="filterEsameTo" name="filterEsameTo">
            </div>
        </div>
    </details>
</div>