.clienti::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.clienti::-webkit-scrollbar-track {
    background: #5681a9;
    border-radius: 10px;
}

.clienti::-webkit-scrollbar-thumb {
    background: #71a1cb;
    border-radius: 10px;
}

.clienti::-webkit-scrollbar-thumb:hover {
    background: #2c98f6;
}

.clienti {
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #5681a9;
    color: #f1f1f1;
    padding: 20px;
    transition: 0.5s;
}
.clienti[open] {
    max-width: 400px;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.clienti:not([open]) {
    padding: 50px;
    background: #0000;
}
.clienti > *:not(summary){
    opacity: 0;
    transition: .5s;
}
.clienti[open] > *:not(summary){
    opacity: 1;
    transition: .5s;
}
.clienti summary{
    list-style: none;
    cursor: pointer;
    user-select: none;
}
.clienti summary span{
    font-size: 3.5rem;
    transition: .5s;
}
.clienti[open] summary span{
    transform: rotateY(35deg);
    color: #ffffff68;
}
.clienti[open] > summary {
    margin-left: 75%;
}

.cliente{
    margin-block: 25px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}
.cliente label{
    margin-left: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
    transition: .5s;
}

.cliente label:hover{
    font-size: 1.5rem;
    
}

input[type="radio"]{
    cursor: pointer;
    accent-color: green;
}

@media (max-height: 870px) {
    .clienti:not([open]) {
        padding: 25px;
    }
    .clienti summary span{
        font-size: 2rem;
    }
}