.clienti {
    z-index: 654;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #5681a9;
    color: #f1f1f1;
    padding: 20px;
    transition: 0.5s;
}
.clienti[open] {
    max-width: 400px;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.clienti:not([open]) {
    padding: 50px;
    background: #0000;
}
.clienti > *:not(summary){
    opacity: 0;
    transition: .5s;
}
.clienti[open] > *:not(summary){
    opacity: 1;
    transition: .5s;
}
.clienti summary{
    list-style: none;
    cursor: pointer;
    user-select: none;
}
.clienti summary span{
    font-size: 3.5rem;
    transition: .5s;
}
.clienti[open] summary span{
    transform: rotateY(50deg);
    color: #ffffff68;
}
.clienti[open] > summary {
    margin-left: 78%;
}

.clienti > summary {
    list-style: none;
    cursor: pointer;
    user-select: none;
}
.clienti  h3{
    color: #ffffff9e;
}
.clienti  h3 ~ *{
    padding-left: 15px;
}
.clienti > details > *:not(summary) {
    margin-left: 50px;
}
.clienti > details{
    transition: .15s;
    border: 2px solid #0000;
    transition: .5s;
}
.clienti > details > summary{
    font-size: 1.3rem;
}
.clienti > details[open]:not(#nuovoCliente){
    border-block: 2px solid #fff;
}
.clienti > details > summary{
    transition: margin 0.15s ease-out;
}
.clienti > details[open]:not(#nuovoCliente) summary {
    margin-bottom: 10px;
}

input[type="radio"]{
    cursor: pointer;
    accent-color: green;
}