@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
}
body{
    background: #71a1cb;
}
.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 150px;
    background: #5681a9;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 1;
}
#toggleMenuBtn {
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}
#navBar {
    position: fixed;
    top: 150px;
    background: #5681a9;
    height: 100vh;
    width: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 1 !important;
    /* overflow: hidden; */
}

#navBar ul {
    position: relative;
    width: 100%;
    display: none;
    transition: 0.5s;
    opacity: 0;
}

#navBar ul li {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 25px 10px;
    list-style: none;
    transition: 1s;
}
#navBar ul li a,
.logoutBtn {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 750;
    text-transform: capitalize;
    margin-block: 25px;
    transition: .5s;
}
#navBar ul li:hover {
    transform: translateX(10px);
    background: #fff;
}
#navBar ul li:hover :where(a) {
    color: #5681a9;
}
#navBar ul li details{
    position: relative;
    z-index: 3;
}
#navBar ul li details summary{
    list-style: none;
    color: #fff;
    transition: .5s;
}

#navBar ul li details .headerField{
    position: absolute;
    left: 10%;
    background: #5681a9;
    width: 110%;
    top: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#navBar ul li details .headerField a{
    margin: 0 !important;
    padding: 25px 10px;
    border: 1px solid #fff;
}
#navBar ul li details .headerField a:first-child{
    border-radius: 10px 10px 0 0;
    
}
#navBar ul li details .headerField a:last-child{
    border-radius: 0 0 10px 10px;
}
.headerField a:hover{
    color: #5681a9;
    background: #fff;
}
.headerField a:not(:hover){
    color: #fff !important;
}
#navBar ul li#logOutList {
    width: 300px;
    border-top: 1px solid #fff;
    border-bottom: none;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}
#navBar ul li#logOutList:hover {
    transform: translateX(-10px);
    background: #923232;
}
.logoutBtn {
    height: 0;
    background: #0000;
    border: none;
    outline: none;
    padding-block: 2px;
    font-weight: 1000;
    color: #fff !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-height: 870px) {
    .header {
        height: 75px;
    }
    #toggleMenuBtn {
        font-size: 3rem !important;
    }
    #navBar {
        top: 75px;
    }
    #navBar ul li {
        padding: 15px 10px;
    }
    @media (max-height: 596px) {
        #navBar ul li {
            font-size: 0.8rem;
        }
        #navBar ul li {
            padding: 7px 10px;
        }
        @media (max-height: 409px) {
            #navBar ul li {
                padding: 3px 10px;
            }
        }
    }
}